$color-primary:#fff;
$text-primary:#999999;
$icons-color:#0cb95e;
$heading-color:#0e0e0e;
$background-color:#000000;

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);
